*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background: #000;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("good.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 13%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
    
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}

.navbar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}
.login{
    position: relative;
    background-color: transparent;
    display: flex;
    right: 6.2rem;
    align-items:center;
    justify-content: center;
}
.login button{
    cursor: pointer;
    transition: .5s ease;
    padding: 0.8rem;
    background-color: #252627;
    color: #f2efe9;
}
.login button:hover{
    transform: scale(1.2);
    background-color: #f2efe9;
    color: #252627;
}
.container{
    height: 30rem;
    color: #fff;
    top: 6rem;
    position: relative;
    display: flex;
    padding-left: 5rem;
    flex-direction: column;
    justify-content: center;
}
.container .useroptions ul{
    list-style: none;
}
.infochat{
    padding: 2rem;
    display: flex;
    position: relative;
    background-color: #6D72C3;
    color: white;
    height: 4rem;
    width: 90%;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    /* background-image: url("chat_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}
.option{
    text-align: center;
    width: 20rem;
    margin: 2rem;
    padding: 2rem;
    border: 0.5px solid black;
    border-radius: 2rem;
    background-color: rgb(255,255,255);
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.useroptions a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    width: 100%;
    height: 5rem;
    position: fixed;
    bottom: 0%;
    text-align: center;
    color: white;
    text-decoration: none;
}
.footer a{
    text-decoration: none;
    color: white;
}
