*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background: #000;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("good.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 13%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
    
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}

.navbar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}
.login{
    position: relative;
    background-color: transparent;
    display: flex;
    right: 6.2rem;
    align-items:center;
    justify-content: center;
}
.login button{
    cursor: pointer;
    transition: .5s ease;
    padding: 0.8rem;
    background-color: #252627;
    color: #f2efe9;
}
.login button:hover{
    transform: scale(1.2);
    background-color: #f2efe9;
    color: #252627;
}
.content{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100%;
    width: 50%;
    /* display: flex;
    flex-direction: column; */
    position: relative;
    left: 6rem;
    top: 6rem;
}
.container ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.option{
    height: 2rem;
    width: 33rem;
    border-radius: 0.5rem;
    border: 0.5px solid black;
    background-color: rgb(140, 140, 140);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,-1),0 4px 11px 0 rgba(0,0,0,.08);
    cursor: pointer;
}
.option :after{
    content: "";
    position: absolute;
    right: 6rem;
    top: 6rem;
    width: 33rem;
    height: 2rem;
    background: url(arrow.png) no-repeat 0 0;

}
.container ul li{
    text-decoration: none;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
}
.footer{
    width: 100%;
    height: 5rem;
    position: fixed;
    bottom: 0%;
    text-align: center;
    color: white;
    text-decoration: none;
}
.footer a{
    text-decoration: none;
    color: white;
}
