.Header-FAQ{
    position: relative;
    color: aliceblue;
    font-weight: bold;
    font-size: 2.2rem;
    top: 100px;
    text-align: center;
    font-weight: bold;
}
.container-FAQ{
    color: white;
    position: relative;
    top: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.question{
    background-color: rgba(89, 3, 147, 0.637);
    border-radius: 5px;
    width: 90%;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.answer{
    background-color: rgba(9, 59, 176, 0.541);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 90%;
}
